src/main/resources/wsdl/countryDetails.wsdl

<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://www.ashref.com/soap/ws/countryDetails"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.ashref.com/soap/ws/countryDetails"
	targetNamespace="http://www.ashref.com/soap/ws/countryDetails">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://www.ashref.com/soap/ws/countryDetails">
			<xsd:element name="CountryRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CountryResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="country" type="tns:country" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="country">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="capital" type="xsd:string" />
					<xsd:element name="population" type="xsd:long" />
					<xsd:element name="currency" type="tns:currency" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="currency">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="EUR" />
					<xsd:enumeration value="TND" />
					<xsd:enumeration value="USD" />
					<xsd:enumeration value="CAD" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="CountryResponse">
		<wsdl:part element="tns:CountryResponse"
			name="CountryResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="CountryRequest">
		<wsdl:part element="tns:CountryRequest"
			name="CountryRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CountryDetailsIndicator">
		<wsdl:operation name="Country">
			<wsdl:input message="tns:CountryRequest"
				name="CountryRequest">
			</wsdl:input>
			<wsdl:output message="tns:CountryResponse"
				name="CountryResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CountryDetailsIndicatorSoap11"
		type="tns:CountryDetailsIndicator">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Country">
			<soap:operation soapAction="" />
			<wsdl:input name="CountryRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="CountryResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CountryDetailsIndicatorService">
		<wsdl:port binding="tns:CountryDetailsIndicatorSoap11"
			name="CountryDetailsIndicatorSoap11">
			<soap:address location="http://localhost:8081/ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>